/gfg-MERN-course/express-apps/node_modules
/gfg-MERN-course/node-apps/Day2/node_modules
/gfg-MERN-course/express-JWT/node_modules
/gfg-MERN-course/express-mongodb/node_modules
/gfg-MERN-course/react/react-gfg/node_modules
/gfg-MERN-course/react-gfg/node_modules
