.form{
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: large;
    padding: 10px;
}

.form input{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

.users{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: large;
}

.users div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(240, 149, 149);
}

.app{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(240, 149, 149);
}
